.footer {
  background-color: var(--accent-blue);
  width: 100%;
  height: 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;

  .footerText {
    color: #ffffff;

  }
  .footerList {
    list-style: none;
    display: flex;
    gap: 33px;
  }

  .footerItem {
    display: flex;
    align-items: center;
  }

  .footerLink {
    color: #ffffff;
    text-decoration: transparent;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: -0.01rem;
    padding: 0.5rem 0.75rem;
    border-radius: 4px;

    transition: color 0.3s ease;

    &:hover {
      color: #cccccc;

    }

    &:focus-visible {
      outline: 2px solid #ffffff; // High-contrast outline
    }
  }
}