* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Variables */
:root {
  --bg-color: #f9fafb;
  --text-color: #272729;
  --accent-blue: #00588C;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
}